<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahallah Salahuddin</title>
    <link href="'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap' rel="
        stylesheet />
    <link rel="stylesheet" href="style.css">
    </link>
</head>

<body>
    <button onclick="" id="report-form" title="Maintenance Report">
        <span>
            MAINTENANCE REPORT
        </span>
    </button>
    <div class="topnav">
        <img id="logo" src="logo-salahuddin.png" alt="logo" width="60" height="60">
        <ul>
            <li><a class="active" href="">HOME</a></li>
            <li><a href="">NEWS</a></li>
            <li><a href="">FACILITIES</a></li>
            <li><a href="./Maps/maps.html">MAPS</a></li>
            <li><a href="">CONTACTS</a></li>
            <li><a href="">ABOUT</a></li>
        </ul>
        <div class="darkmode-toggle">
            <input type="checkbox" id="darkmode-toggle" />
            <label for="darkmode-toggle"></label>
        </div>
    </div>
    <div class="content">
        <h4>Assalamualaikum w.b.t, Welcome to Mahallah Salahuddin</h4>
    </div>
</body>

</html>