:root {
  --primary-color: #043c2c;
  --secondary-color: #568a6e;
  --color-light: rgba(0, 0, 0, 0.18);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* chatbox */
#chatbox-container {
  display: flex;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #ffffff;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  height: 75vh;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#chatbox-container.dark-mode {
  background-color: #2b503c5c;
  box-shadow: 0 10px 15px -3px #568a6e, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#chatbox-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--secondary-color);
}

#chatbox-title {
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
  color: var(--primary-color);
}

#chatbox-title.dark-mode {
  color: #7abf9a;
}

#chatbox {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  margin-top: 1rem;
  flex: 110%;
}

.chatbox-send-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 11px;
  flex-wrap: wrap;
}

.chatbox-send {
  padding: 0.3rem;
  max-width: 70%;
  margin-left: auto;
  border-radius: 0.6rem;
  border-width: 1px;
  border-color: var(--primary-color);
  background-color: #88c7a5;
  border-style: solid;
  color: var(--primary-color);
  text-align: left;
  font-size: small;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.chatbox-send-chat,
.chatbox-receive-chat {
  margin: 0 0.1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chatbox-receive-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 11px;
  flex-wrap: wrap;
}

.chatbox-receive {
  padding: 0.3rem;
  max-width: 70%;
  margin-right: auto;
  border-radius: 0.6rem;
  border-width: 1px;
  border-color: var(--primary-color);
  border-style: solid;
  color: var(--primary-color);
  text-align: left;
  font-size: small;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.chatbox-receive.dark-mode {
  background-color: #2b503c5c;
  border-color: #568a6e;
  color: #7abf9a;
}

#chatbox-input {
  padding: 0.7rem;
  justify-content: space-between;
  align-items: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--secondary-color);
}

#usermsg {
  width: 83%;
  padding: 0.3rem;
  border-radius: 0.6rem;
  border-width: 1px;
  border-color: var(--primary-color);
  border-style: solid;
  color: var(--primary-color);
  text-align: left;
  font-size: small;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#usermsg.dark-mode {
  background-color: #2b503c;
  border-color: #568a6e;
  color: #7abf9a;
}

#submitmsg {
  padding: 0.3rem 0.8rem;
  border-radius: 0.6rem;
  border-width: 1px;
  border-color: var(--primary-color);
  border-style: solid;
  color: var(--primary-color);
  background-color: #88c7a5;
  text-align: left;
  font-size: small;
  font-weight: bold;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#submitmsg:hover {
  background-color: #568a6e;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 844px) {
  .content {
    margin: auto 25px 25px 25px;
    max-width: 100vw;
  }
  #usermsg {
    width: 80%;
  }
}
