p.line-between-sentences {
  display: inline;
  color: #000000;

  background-image: linear-gradient(#e3e3e3, #e3e3e3);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
  transition: background-size 1000ms, color 700ms;
}

p.line-between-sentences:hover {
  background-size: 0% 100%;
  color: white;
}

.line-between-sentences {
  line-height: 2;
}
#mav {
  columns: 240px 2;
  column-gap: 16px;
  min-height: 400;
  padding: 16px;
  border: 1px solid #ff9950;
  resize: both;
  overflow: hidden;
}
.prpic {
  margin-top: 20px;
}

.box {
  background-color: #2a5449;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.box-image {
  display: block;
  margin: 0 auto;
  height: 200px;
}

.box-text {
  text-align: center;
  margin-top: 10px;
  width: 500;
}
