/*#mav{
columns: 240px 2;
column-gap: 16px;
min-height:400 ;
padding: 16px;
border: 2px solid #FF9950;
resize: both;
overflow:hidden;
margin-top: 30px;
  margin-left: 10px;  

}
*/
.different-font {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
}

#p1,
#p2 {
  width: 500px;
  height: 800px; /* Added "px" to specify the unit for height */
  overflow: auto;
  display: inline-block;
  vertical-align: top; /* Align the top of the blocks */
  margin-right: 20px; /* Adjust the margin as needed for spacing */
  padding: 20px 30px 20px 30px; /* Add padding for better appearance */
  box-sizing: border-box; /* Include padding in width and height calculations */
  background-color: #2a5449;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

#p2 {
  font-size: small;
}

#p1.dark-mode,
#p2.dark-mode {
  box-shadow: 0 0 10px rgb(147, 230, 151);
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
}

.gallery img {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}

.b {
  color: white;
}

.mnv-container {
  margin-bottom: 50px;
  margin-top: 25px;
}

@media screen and (max-width: 1050px) {
  #p1,
  #p2 {
    height: auto;
    margin: auto 25px 25px 25px;
  }
}

@media screen and (max-width: 1050px) {
  #p1,
  #p2 {
    width: auto; /* Add this line */
    height: auto;
    margin: auto 25px 25px 25px;
  }
}
