/* .container {
  display: flex;
}

.left {
  flex: 1;
  padding: 10px;
}



.right {
  flex: 1;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.scroll {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.box {
  background-color: #b8c5b8;
  padding: 20px;
  margin: 20px;  
  max-width: 1500px;
  box-shadow: 0 1px 3px #aec2ab;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
} */

.container {
  display: flex;
}

.left,
.right {
  flex: 1;
}

img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.right {
  padding: 20px;
}

.box.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 100px); /* Adjust as needed */
}

.box {
  display: flex;
  background-color: #2a5449;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  font-size: 1vw;
}

.box:not(:last-child) {
  margin-bottom: 20px; /* Adjust as needed */
}

.images,
.text {
  flex: 1;
}

.images img {
  width: 50vh;
  height: 25vh;
  margin-bottom: 10px;
  max-width: 600px;
}

h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .box img {
    max-width: 300px; /* Adjust as needed */
  }
}
